* {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: var(--background-color);
    color: var(--color-text);
}

html {
    --main-color-orange: #FF914D;
    --secondary-color-red: #DC2810;
    --secondary-color-white: #fff;
    --secondary-color-black: #000;
    --secondary-color-lightgrey: rgb(248, 249, 250);
    --background-color: #fff;
    --color-text: #000;
}