
.footer{
	background-color: var(--footer-color);
}
}

.footer__h2{
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}

.footer__p{
	padding-bottom: 2%;
	text-align: center;
	font-weight: bold;
}

.footer__text{
	font-size: 19px;
	text-decoration: none;
	color: var(--color-text);
}

.fa--custom{
	font-size: 30px;
	text-decoration: none;
	color: var(--secondary-color-white);
	padding-right: 10px;
	margin-left: 2%;
}

.fa--custom--color{
	color: var(--main-color-orange);
}