
.footer{
	background-color: rgb(248,249,250);
}

.footer__h2{
	font-size: 25px;
	text-align: center;
	font-weight: bold;

}

.footer__p{
	padding-bottom: 2%;
	text-align: center;

	font-weight: bold;
}

.footer__text{
	font-size: 16px!important;
	text-decoration: none!important;
	color: black!important;
}

.fa--custom{
	font-size: 25px;
	text-decoration: none;
	color: #FF914D;
}