.header-container{
	display: grid;
	grid-template-columns: 0.17fr 1fr;
	grid-auto-rows: 50px;
	grid-template-areas: 
	"figure div-navbar div-navbar";
}

.form-control{
	border-color: #FF914D!important;
}

.form-control{
	border-radius: 10px!important;
}

.btn{
	background-color: #FF914D!important;
	color: #FFF!important;
	border-radius: 10px!important;
	box-shadow: inset 0 0 0 0 #cd5e19;
	transition: ease-out 1s!important;
	font-size: 0.8rem!important;
	border: none!important;
}


.btn:hover{
	border: none;
	box-shadow: inset 300px 0 0 0 #cd5e19;
	font-size: 15px!important;
	cursor: pointer;
}

.figure__img{
	width: 240px!important;
	margin-top: -25px!important;
	grid-area: figure;
}

.div-navbar{
	grid-area: div-navbar;
}
