.header-container{
	display: grid;
	grid-template-columns: 0.17fr 1fr;
	grid-auto-rows: 65px;
	grid-template-areas: 
	"figure div-navbar div-navbar";
}

.form-control{
	border-color: #FF914D!important;
}

.form-control{
	border-radius: 10px!important;
}

.btn{
	background-color: #FF914D!important;
	color: #FFF!important;
	border-radius: 10px!important;
	box-shadow: inset 0 0 0 0 #cd5e19;
	transition: ease-out 1s!important;
	font-size: 0.7rem!important;
	border: none!important;
}


.btn:hover{
	border: none;
	box-shadow: inset 300px 0 0 0 #cd5e19;
	font-size: 15px!important;
	cursor: pointer;
}

.figure__img{
	width: 240px!important;
	margin-top: -25px!important;
	grid-area: figure;
}

.div-navbar{
	grid-area: div-navbar;
}

/*  ==========================  */

.main-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 421px!important;
	grid-template-areas: 
	"main__image main__text main__text";
	margin-top: 75px;
}

.main__image{
	width: 100%;
	grid-area: main__image;
}

.main__text{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	background: #FF914D;
	color: white;
	letter-spacing: 1.2px;

	grid-area: main__text;
}

.main__text__h1{
	font-family: 'Kaushan Script', cursive;

}

.main__text__p{
	padding: 35px 20px 20px;
	text-align: justify;
	text-justify: inter-word;
}