* {
    font-family: 'Comfortaa', cursive;
}

.carousel-inner{
    margin-top: 30px;
    padding: 20px;
}

.casousel__caption__h5{
    margin-bottom: 6%;
    font-size: 45px;
    font-weight: bold;
}

.carousel__caption__p{
    margin-bottom: 20%;
    font-size: 17px;
    transition: 0.3s;
    font-weight: bold;
}

.carousel__caption__p:hover{
    transform: scale(1.2,1.2);
}

.fa-size {
    margin-top: 2%;
    margin-left: 3%;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.card-title{
    font-weight: bold;
}

.card-text {
    font-size: 10px;
    text-align: justify;
    text-justify: inter-word;
    transition: 0.3s;
}

.card-text:hover{
    font-size: 12px;
}

.card--change--text {
    font-size: 50px!important;
}

.card-img-top{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* adicionando o grid area*/
.highlights_container {
    display: grid; /* iniciando grid */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* adicionando o mesmo tamanho do template das colunas*/
    grid-auto-rows: 395px; /* adicionando pixels nas linhas */
    grid-template-areas:  /* iniciando de fato o nosso grid area */
    "highlights_card1 highlights_card2 highlights_card3" 
    "highlights_card4 highlights_card5 highlights_card6" 
    "highlights_card7 highlights_card8 highlights_card9";

    /* dando uns espaços na margin*/
    margin-top: 5%;
    margin-left: 15%;

    text-align: center; /* alinhando o texto no centro */
    grid-gap: 65px; /* adicionando um espaço entre os grids, tanto no X quanto no Y */
}

/* como foi adicionado uma referencia aos cards, foi retirado o efeito de hyperlink deles*/
.highlights__link {
    text-decoration: none;
    color: black;
}

.highlights__link:hover {
    text-decoration: none;
    color: black;
}
/* */


/* iniciando os grids em sequencia */
.highlights_card1 {
    grid-area: highlights_card1;
}

.highlights_card2 {
    grid-area: highlights_card2;
}

.highlights_card3 {
    grid-area: highlights_card3;
}

.highlights_card4 {
    grid-area: highlights_card4;
}

.highlights_card5 {
    grid-area: highlights_card5;
}

.highlights_card6 {
    grid-area: highlights_card6;
}

.highlights_card7 {
    grid-area: highlights_card7;
}

.highlights_card8 {
    grid-area: highlights_card8;
}

.highlights_card9{
    grid-area: highlights_card9;
}
/* */


/* adicionando uma acão nos cards do main */
.card{
    transition: 0.7s;
}

.card:hover{
    box-shadow: 0px 1px 10px 1px grey;
    border-radius: 15px;
    width: 110%!important;
}
/* */
