
/* style referente ao banner com slide show*/

.carousel-inner {
    margin-top: 45px;
    box-shadow: 0 0 15px 1px #000;
    margin-bottom: 1%;
}

.casousel__caption__h5 {
    font-size: 75px;
    font-weight: bold;

}

.carousel__caption__p {
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

.black-window{
    background: var(--secondary-color-black);
    opacity: 0.7;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 8%;

}

/* */


/* ícones de midia social */

.fa--custom {
    margin-left: 3%;
    font-size: 50px;
    text-decoration: none;
    color: var(--secondary-color-white);
    transition: 0.2s;
}

.fa--custom:hover {
    transform: scale(1.3, 1.3)!important;
}


/* */


/* estilizando os cards */

.card {
    width: 18rem;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: 0.5s!important;
}

.card:hover {
    box-shadow: 0px 1px 10px 1px grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scale(1.1, 1.1);
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 10px;
    text-align: justify;
    text-justify: inter-word;
    transition: 0.3s;
}

.card-text:hover {
    transform: scale(1.05, 1.05);
}


/* */


/* como foi adicionado uma referencia aos cards, foi retirado o efeito de hyperlink deles*/

.highlights__link {
    text-decoration: none;
    color: var(--secondary-color-black);
}

.highlights__link:hover {
    text-decoration: none;
    color: var(--secondary-color-black);
}


/* */


/* estilizando toda a parte dos newsletter */

.newsletter__card {
    max-width: 100%;
    padding: 65px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: linear-gradient(to left, var(--main-color-orange), var(--secondary-color-red));
}

.newsletter__h1 {
    color: var(--secondary-color-white);
    max-width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.newsletter__p {
    text-align: center;
    color: var(--secondary-color-white);
    max-width: 100%;
}

.btn__submit {
    background: var(--main-color-orange);
    border: none;
    border-radius: 8px;
    transition: .3s;
    color: white;
    padding-right: 10px;
}

.btn__submit:hover {
    border-radius: 10px;
    transform: scale(1.3, 1.3);
}

.fa-envelope {
    /* ícone de email */
    max-width: 100%;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 70px;
    text-decoration: none;
    color: var(--secondary-color-white);
}


/* */